{% extends 'main/base.html.twig' %}

{% block title %} TQ planner!{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <ul>
           {% for mastery in masters %}
                <li>
                    <a href="{{ path('mastery', { slug: mastery.slug })}}">{{ mastery.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
